XML/Schemata/Register_Orte/schema_register_orte.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:s="http://purl.oclc.org/dsdl/schematron"
  xmlns:tei="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Schema Register Orte</title>
        <author>Dennis Friedl</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are
              permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list
                of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this
                list of conditions and the following disclaimer in the documentation and/or other
                materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any
              express or implied warranties, including, but not limited to, the implied warranties
              of merchantability and fitness for a particular purpose are disclaimed. In no event
              shall the copyright holder or contributors be liable for any direct, indirect,
              incidental, special, exemplary, or consequential damages (including, but not limited
              to, procurement of substitute goods or services; loss of use, data, or profits; or
              business interruption) however caused and on any theory of liability, whether in
              contract, strict liability, or tort (including negligence or otherwise) arising in any
              way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the <ref
              target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch by James Cummings, but looking at previous tei_minimal and tei_bare
          exemplars by SPQR and LR.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>A Minimal TEI Customization</head>

      <p>This TEI ODD defines a TEI customization that is as minimal as possible and the schema
        generated from it will validate a document that is minimally valid against the TEI scheme.
        It includes only the ten required elements: <list rend="numbered">
          <item><gi>teiHeader</gi> from the header module to store required metadata</item>
          <item><gi>fileDesc</gi> from the header module to record information about this
            file</item>
          <item><gi>titleStmt</gi> from the header module to record information about the
            title</item>
          <item><gi>publicationStmt</gi> from the header module to detail how it is published</item>
          <item><gi>sourceDesc</gi> from the header module to record where it is from</item>
          <item><gi>p</gi> from the core module for use in the header and the body</item>
          <item><gi>title</gi> from the core module for use in the titleStmt</item>
          <item><gi>TEI</gi> from the textstructure module because what is a TEI file without
            that?</item>
          <item><gi>text</gi> from the textstructure module to hold some text</item>
          <item><gi>body</gi> from the textstructure module as a place to put that text</item>
        </list>
      </p>
      <schemaSpec ident="schema_register_orte" start="TEI" prefix="tei_" targetLang="en"
        docLang="de">

        <!-- required minimal header elements -->
        <moduleRef key="header"
          include="teiHeader fileDesc titleStmt editionStmt publicationStmt sourceDesc idno encodingDesc geoDecl biblFull edition extent"/>

        <!-- required core elements (p and title for use in titleStmt) -->
        <moduleRef key="core" include="p title name note editor publisher date bibl measure"/>
        
        <!-- required textstructure elements (TEI, text, and body) -->
        <moduleRef key="textstructure" include="TEI text body"/>

        <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
        <moduleRef key="tei"/>

        <moduleRef key="msdescription" include="msDesc msIdentifier repository physDesc objectDesc supportDesc support dimensions height width"/>
        <moduleRef key="namesdates" include="listPlace place placeName addName country location geo settlement"/>
        <elementSpec ident="listPlace" mode="change">
          <classes mode="change">
            <memberOf key="att.declarable" mode="delete"/>
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
          </classes>
          <content>
            <elementRef key="place" minOccurs="1" maxOccurs="unbounded"/>
          </content>
          <attList>
            <attDef ident="sortKey" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="place" mode="change">
          <classes mode="change">
            <memberOf key="att.typed" mode="delete"/>
            <memberOf key="att.editLike" mode="delete"/>
            <memberOf key="att.sortable" mode="delete"/>
          </classes>
          <content>
            <elementRef key="placeName" minOccurs="1" maxOccurs="1"/>
            <elementRef key="note" minOccurs="0" maxOccurs="1"/>
            <elementRef key="location" minOccurs="0" maxOccurs="1"/>
            <elementRef key="country" minOccurs="0" maxOccurs="1"/>
            <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
          </content>
          <constraintSpec ident="correctPlaceID" scheme="schematron">
            <constraint><s:rule context="tei:place">
                <s:assert test="matches(@xml:id, '^pl_\d{5}$')">Eine Place-ID muss wie folgt
                  aufgebaut sein: "pl_00000".</s:assert>
              </s:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="xml:id" mode="change" usage="req"/>
            <attDef ident="checkedFor" mode="add">
              <desc versionDate="2022-04-17" xml:lang="de">Welche Datenbanken kontrolliert wurden.</desc>
              <datatype maxOccurs="unbounded">
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList mode="add" type="closed">
                <valItem mode="add" ident="geonames"/>
                <valItem mode="add" ident="gnd"/>
                <valItem mode="add" ident="wikidata"/>
                <valItem mode="add" ident="viaf"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="placeName" mode="change">
          <classes mode="change">
            <memberOf key="att.datable" mode="delete"/>
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
            <memberOf key="att.editLike" mode="delete"/>
          </classes>
          <content>
            <elementRef key="name" minOccurs="1" maxOccurs="1"/>
            <elementRef key="addName" minOccurs="0" maxOccurs="unbounded"/>
          </content>
          <attList>
            <attDef ident="key" mode="delete"/>
            <attDef ident="ref" mode="delete"/>
            <attDef ident="role" mode="delete"/>
            <attDef ident="nymRef" mode="delete"/>
            <attDef ident="full" mode="delete"/>
            <attDef ident="sort" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="name" mode="change">
          <classes mode="change">
            <memberOf key="att.datable" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
            <memberOf key="att.global.responsibility" mode="delete"/>
            <memberOf key="att.global.rendition" mode="delete"/>
          </classes>
          <content>
            <textNode/>
          </content>
          <attList>
            <attDef ident="key" mode="delete"/>
            <attDef ident="ref" mode="delete"/>
            <attDef ident="role" mode="delete"/>
            <attDef ident="nymRef" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="evidence" mode="delete"/>
            <attDef ident="full" mode="delete"/>
            <attDef ident="instant" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="sort" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="source" mode="change" usage="req"/>
          </attList>
        </elementSpec>
        <elementSpec ident="addName" mode="change">
          <classes mode="change">
            <memberOf key="att.typed" mode="delete"/>
          </classes>
          <content>
            <textNode/>
          </content>
          <constraintSpec ident="firstAddName" scheme="schematron">
            <constraint><s:rule context="tei:listPlace//tei:addName[1]">
                <s:assert test="matches(@source, 'catalog')">Erster addName muss aus dem Katalog
                  kommen.</s:assert>
              </s:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="key" mode="delete"/>
            <attDef ident="ref" mode="delete"/>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="role" mode="delete"/>
            <attDef ident="nymRef" mode="delete"/>
            <attDef ident="full" mode="delete"/>
            <attDef ident="sort" mode="delete"/>
            <attDef ident="xml:lang" mode="change" usage="req"/>
            <attDef ident="source" mode="change" usage="req"/>
          </attList>
        </elementSpec>
        <elementSpec ident="note" mode="change">
          <classes mode="change">
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.placement" mode="delete"/>
            <memberOf key="att.ponting" mode="delete"/>
            <memberOf key="att.written" mode="delete"/>
            <memberOf key="att.anchoring" mode="delete"/>
          </classes>
          <constraintSpec ident="firstNote" scheme="schematron">
            <constraint><s:rule context="tei:listPlace//tei:note[1]">
              <s:assert test="@checkedFor">Erste Note muss @checkedFor haben.</s:assert>
            </s:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="anchored" mode="delete"/>
            <attDef ident="evaluate" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="target" mode="delete"/>
            <attDef ident="targetEnd" mode="delete"/>
            <attDef ident="targetLang" mode="delete"/>
            <attDef ident="checkedFor" mode="add">
              <desc versionDate="2021-06-13" xml:lang="de">Welche Datenbanken kontrolliert wurden.</desc>
              <datatype maxOccurs="unbounded">
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList mode="add" type="closed">
                <valItem mode="add" ident="vd16"/>
                <valItem mode="add" ident="vd17"/>
                <valItem mode="add" ident="wikipedia"/>
                <valItem mode="add" ident="vd18"/>
                <valItem mode="add" ident="mdz"/>
                <valItem mode="add" ident="google-books"/>
                <valItem mode="add" ident="gnd"/>
                <valItem mode="add" ident="wikidata"/>
                <valItem mode="add" ident="uni-freiburg"/>
                <valItem mode="add" ident="kvk"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="idno" mode="change">
          <classes mode="change">
            <memberOf key="att.datable" mode="delete"/>
            <memberOf key="att.global" mode="delete"/>
          </classes>
          <content>
            <textNode/>
          </content>
          <attList>
            <attDef ident="type" mode="change" usage="rec">
              <valList mode="change" type="closed">
                <valItem mode="delete" ident="ISBN"/>
                <valItem mode="delete" ident="ISSN"/>
                <valItem mode="delete" ident="DOI"/>
                <valItem mode="delete" ident="URI"/>
                <valItem mode="delete" ident="VIAF"/>
                <valItem mode="delete" ident="ESTC"/>
                <valItem mode="delete" ident="OCLC"/>
                <valItem mode="add" ident="wikipedia"/>
                <valItem mode="add" ident="vd16"/>
                <valItem mode="add" ident="vd17"/>
                <valItem mode="add" ident="vd18"/>
                <valItem mode="add" ident="mdz"/>
                <valItem mode="add" ident="google-books"/>
                <valItem mode="add" ident="gnd"/>
                <valItem mode="add" ident="wikidata"/>
                <valItem mode="add" ident="geonames"/>
                <valItem mode="add" ident="viaf"/>
                <valItem mode="add" ident="scan"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="sortKey" mode="delete"/>
          </attList>
        </elementSpec>
        <classSpec ident="att.global.source" type="atts" mode="change">
          <attList>
            <attDef ident="source" mode="change">
              <desc versionDate="2021-01-17" xml:lang="de">Quelle der Information.</desc>
              <datatype maxOccurs="unbounded">
                <dataRef key="teidata.word"/>
              </datatype>
              <valList type="closed" mode="change">
                <valItem mode="add" ident="guessed"/>
                <valItem mode="add" ident="catalog"/>
                <valItem mode="add" ident="orbisLatinus"/>
                <valItem mode="add" ident="vd16"/>
                <valItem mode="add" ident="vd17"/>
                <valItem mode="add" ident="vd18"/>
                <valItem mode="add" ident="wikipedia"/>
                <valItem mode="add" ident="wikidata"/>
                <valItem mode="add" ident="gnd"/>
                <valItem mode="add" ident="geonames"/>
              </valList>
            </attDef>
          </attList>
        </classSpec>
        
        <constraintSpec ident="EmptyText" scheme="schematron">
          <constraint><s:rule context="tei:listPlace//tei:name | tei:listPlace//tei:addName">
            <s:assert test="text()">Element muss Text haben.</s:assert>
          </s:rule>
          </constraint>
        </constraintSpec>
        
        <constraintSpec ident="textNotFilled" scheme="schematron">
          <constraint><s:rule
            context="text() | @*">
            <s:report test="matches(., '^XXX$')">Vergessen XXX zu ersetzen.</s:report>
          </s:rule>
          </constraint>
        </constraintSpec>
        
        <constraintSpec ident="noDuplicateIdno" scheme="schematron">
          <constraint><s:rule context="tei:idno[./text() = ./preceding::tei:idno/text()]">
            <s:report test="exists(.)">Diese idno gibt es bereits.</s:report>
          </s:rule>
          </constraint>
        </constraintSpec>
        
        <constraintSpec ident="noLinkIdno" scheme="schematron">
          <constraint><s:rule context="tei:listPlace//tei:idno[not(@type='wikipedia')]">
            <s:report test="matches(./text(), '^http')">Kein Link in dieser Idno.</s:report>
          </s:rule>
          </constraint>
        </constraintSpec>
        
        <classSpec ident="att.global" type="atts" mode="change">
          <attList>
            <attDef ident="xml:lang" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="deu"/>
                <valItem mode="add" ident="eng"/>
                <valItem mode="add" ident="fre"/>
                <valItem mode="add" ident="ita"/>
                <valItem mode="add" ident="nld"/>
                <valItem mode="add" ident="lat"/>
                <valItem mode="add" ident="gre"/>
                <valItem mode="add" ident="spa"/>
                <valItem mode="add" ident="heb"/>
                <valItem mode="add" ident="por"/>
              </valList>
            </attDef>
          </attList>
        </classSpec>
        
      </schemaSpec>
    </body>
  </text>
</TEI>
